.main-container {
  /* background-color: rgb(247, 247, 247); */
}

.models-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
}

.style {
  width: none !important;
  height: none !important;
}

@media (max-width: 1100px) {
  .model-container {
    flex-wrap: wrap-reverse !important;
    justify-content: center;
    gap: 20px;
  }
}

.model-container {
  display: flex;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  align-items: center;
  background-color: rgb(252, 252, 252);
  justify-content: space-around;
}

.model-text {
  max-width: 400px;
  width: 100%;
}

.model-text-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.model-name {
  font-size: 20px;
  text-align: center;
  caret-color: black;
}

.models-container > h1 {
  font-weight: 500;
  margin-bottom: 50px;
}

.models-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}