*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

/* ///// */

.model {
  cursor: grab;
}

.newModel,
.newModel * {
  max-width: 500px !important;
  width: 100%;
  min-height: 500px;
  height: 100% !important;
}

.model-container {
  border-radius: 0 !important;
}

.model-detail {
  height: 100vh;
  margin-top: 100px;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.nav {
  max-width: 1920px;
  width: 100%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 200px !important;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
}

.panorama {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}